@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-aqua: #00E0FF;
}

* {
    font-family: "Rethink Sans", sans-serif;
}

/* login page */
.login-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding-left: 1rem; /* px-4 এর বদলে সরাসরি CSS */
    padding-right: 1rem;
    transition-property: color, background-color, border-color;
    transition-duration: 200ms;
}

/* Dark mode logic for the container */
@media (prefers-color-scheme: dark) {
  .login-page-container {
    background-color: #020617; /* slate-950 */
  }
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 24rem; /* max-w-sm */
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}